<div class="d-lg-flex justify-content-between align-items-center px-2 ">
  <h2 mat-dialog-title>{{title}}</h2>
  <button class="btn btn-close me-3 d-none" (click)="close(false)">
  </button>
</div>
<mat-dialog-content>

  <form class="row align-items-center p-4" [formGroup]="calculationForm">
    <div class="col-md-3 mb-3 ">
      <label class="form-label">Initial Value</label>
      <input type="text" prefix="$" mask="separator.2" thousandSeparator="," class="form-control" placeholder="$0.00"
        formControlName="initialValue" (keyup)="calculate()">
    </div>
    <div class="col-md-3 mb-3 ">
      <label class="form-label">Final Value</label>
      <input type="text" prefix="$" mask="separator.2" thousandSeparator="," class="form-control" placeholder="$0.00"
        formControlName="finalValue" (keyup)="calculate()">
    </div>
    <div class="col-md-3 mb-3 ">
      <label class="form-label">Initial Year</label>
      <input type="text" mask="separator.0" thousandSeparator="," class="form-control" placeholder="2010"
        formControlName="initialYear" (keyup)="calculate()">
    </div>
    <div class="col-md-3 mb-3 ">
      <label class="form-label">Final Year</label>
      <input type="text" mask="separator.0" thousandSeparator="," class="form-control" placeholder="2024"
        formControlName="finalYear" (keyup)="calculate()">
    </div>
    <div class="col-md-3 mb-3 ">
      <label class="form-label">Number of Years</label>
      <input type="text" mask="separator.0" thousandSeparator=","  [allowNegativeNumbers]="true" class="form-control" placeholder="14"
        formControlName="numberOfYears">
    </div>
    <div class="col-md-6 mb-3 ">
      <label class="form-label">CAGR</label>
      <div class="d-flex align-items-center">
        <input type="text" mask="separator.5" thousandSeparator="," [allowNegativeNumbers]="true"class="form-control me-3" placeholder="0.00"
      formControlName="calculatedCAGR">
      <div class="me-3" [appKatex]="'\\approx'"></div>
      <input type="text" suffix="%" mask="separator.3" thousandSeparator="," [allowNegativeNumbers]="true" class="form-control" placeholder="0.00%"
      formControlName="calculatedCAGRPercentage">
      </div>
    </div>
    <div class="col-md-12">
      <span class="text-danger" *ngIf="this.calculationForm.get('calculatedCAGR')?.value < 0">The CAGR can not be a negative number.</span>
    </div>
  </form>

  <div class="accordion p-4" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Formulas
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse p-4" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <app-how-to-dividend-cagr *ngIf="data?.values?.type == 1"></app-how-to-dividend-cagr>
        <app-how-to-share-price-cagr *ngIf="data?.values?.type == 2"></app-how-to-share-price-cagr>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-light me-3" (click)="close(false)">Cancel</button>
  <button class="btn btn-success me-3" cdkFocusInitial (click)="close(true)">Save</button>
</mat-dialog-actions>