.nav-link{
    font-size: 1rem;
}

.navbar-toggler, .navbar-toggler-icon{
    color: black;
}

.nav-link.active{
    color: #0591B6 !important;
}

.nav-link:hover {
    color: rgb(0, 77, 107);
}

.navbar{
    border-end-end-radius: 40px;
    border-end-start-radius: 40px;
}

.nav-item{
    border-radius: 15px;
    background: rgba(6, 113, 6, 0.649);
    margin-right: 1rem;
    cursor: pointer;
}

.nav-item a{
    border-radius: 15px;
    color: white !important;
    font-weight: bold;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-item .active {
    border-radius: 15px;
    background: rgba(8, 151, 8, 0.649);
    cursor: pointer;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.nav-item:hover {
    border-radius: 15px;
    background: rgba(3, 68, 3, 0.649) !important;
}
