.nav-link {
    font-size: 1rem;
    color: var(--navbar-text-color);
}

.navbar-toggler,
.navbar-toggler-icon {
    color: var(--navbar-text-color);
}

.navbar {
    background-color: var(--navbar-background-color);
    border-end-end-radius: 40px;
    border-end-start-radius: 40px;
    margin-bottom: 3rem !important;
}

.nav-item {
    padding: 0;
    cursor: pointer;
}

.nav-item a {
    color: var(--navbar-text-color) !important;
    border-radius: 15px;
    border: 2px solid var(--light-border-color) !important;
    font-weight: bold;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-item .active {
    color: var(--navbar-hover-text-color) !important;
    background-color: var(--navbar-hover-background-color) !important;
}

.nav-item a:hover:not(.active) {
    color: var(--navbar-hover-text-color) !important;
    background-color: var(--navbar-hover-background-color) !important;
}

.navbar-brand {
    color: var(--navbar-text-color);
    font-weight: 800;
}

.navbar-brand span {
    color: var(--text-color);
}

.navbar-toggler{
    border-radius: 20px;
    color: var(--navbar-text-color) !important;
    border: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


@media screen and (max-width: 600px){
    .navbar{
        margin-bottom: 0;
    }
}