<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center justify-content-between" >
        <a class="navbar-brand mb-3" routerLink="/home">
            forecaster<span>.byjofrey</span>
        </a>
        <div class="d-flex align-items-center ">
            <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class=" mb-3 ">
                <a class="navbar-toggler nav-link mx-2" (click)="toggleTheme()"  >
                    <i class="p-0 my-0" [ngClass]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
                </a>
            </div>
        </div>
        <div class="container-fluid ">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mb-2">
                        <a class="nav-link mx-2" routerLink="/calculator" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" i18n>Forecaster</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link mx-2" routerLink="/how-to" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" i18n>How to</a>
                    </li>
                    <li class="nav-item mb-2">
                        <select id="language-select" class="form-select" [value]="currentLang" (change)="changeLanguage($event)">
                            <option value="en">English</option>
                            <option value="es">Español</option>
                        </select>
                    </li>
                    <li class="nav-item mb-2  ">
                        <a class="theme-btn nav-link mx-2" (click)="toggleTheme()"  >
                            <i class="p-0 my-0" [ngClass]="isDarkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div>
