.nav-link{
    font-size: 1rem;
}

.navbar-toggler, .navbar-toggler-icon{
    color: black;
}


.navbar{
    border-end-end-radius: 40px;
    border-end-start-radius: 40px;
    margin-bottom: 4rem;
}

.nav-item{
    padding: 0;
    cursor: pointer;
}

.nav-item a{
    color: #157347 !important;
    border-radius: 15px;
    /* background: #76b095; */
    border: 2px solid #f5f4f4 !important;
    font-weight: bold;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-item .active {
    /* background: #157347; */
    color: white !important;
    background-color: #157347 ;
}

.nav-item a:hover:not(.active) {
    color: white !important;
    background-color: #157347 ;
}

.navbar-brand{
    color: #157347;
    font-weight: 800;
}

.navbar-brand span{
    color: black;
}

.navbar-toggler{
    border-radius: 20px;
    color: #157347 ;
    border: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


@media screen and (max-width: 600px){
    .navbar{
        margin-bottom: 0;
    }
}