input[type=checkbox] {
    transform: scale(1.9);
    filter: hue-rotate(254deg);
}

.cagr-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    z-index: 2;
    color: #157347 !important;
}