@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;0,900;0,1000;1,600&display=swap');

:root {
    --background-color: white;
    --text-color: black;
    --primary-color: #157347;
    --secondary-color: #333;
    --link-color: rgb(53, 107, 53);
    --link-hover-color: green;
    --card-background-color: white;
    --card-border-color: transparent;
    --light-border-color: #f5f4f4;
    --shadow-color: rgba(0, 0, 0, 0.21);
    --header-background-color: rgb(248, 248, 248);
    --footer-background-color: rgb(251, 251, 251);
    --tooltip-background-color: #ffffff;
    --tooltip-text-color: #000000;
    --tooltip-shadow-color: rgba(0, 0, 0, 0.21);
    --invalid-input-border-color: #ff101039;
    --invalid-input-background-color: #ff000011;
    --input-background-color: #fff;
    --input-text-color: #000;
    --input-border-color: #ced4da;
    --navbar-background-color: #fff;
    --navbar-text-color: #157347;
    --navbar-hover-background-color: #157347;
    --navbar-hover-text-color: #fff;
    --division-row-background-color: rgba(98, 159, 98, 0.53);
    --total-value-row-background-color: #15734793;
    --table-background-color: white;
    --table-border-color: #dee2e6;
    --table-hover-background-color: rgba(0, 0, 0, 0.075);
    --placeholder-color: #6c757d;
    --mat-dialog-background-color: #fff;
    --mat-dialog-text-color: #000;
    --disabled-input-background-color: #e9ecef;
    --disabled-input-text-color: #6c757d;
    --disabled-input-border-color: #ced4da;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #157347;
    --secondary-color: #495057;
    --link-color: #ccc;
    --link-hover-color: #fff;
    --card-background-color: #1e1e1e;
    --card-border-color: transparent;
    --light-border-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --header-background-color: #1c1c1c;
    --footer-background-color: #1e1e1e;
    --tooltip-background-color: #333;
    --tooltip-text-color: #ccc;
    --tooltip-shadow-color: rgba(0, 0, 0, 0.5);
    --invalid-input-border-color: #ff101039;
    --invalid-input-background-color: #ff000011;
    --input-background-color: #3737374d; 
    --input-text-color: #ccc;
    --input-border-color: #666;
    --navbar-background-color: #1c1c1c;
    --navbar-text-color: #ccc;
    --navbar-hover-background-color: #157347;
    --navbar-hover-text-color: #fff;
    --division-row-background-color: rgba(50, 80, 50, 0.53); 
    --total-value-row-background-color: rgba(30, 80, 30, 0.7);
    --table-background-color: #1e1e1e;
    --table-border-color: #333;
    --table-hover-background-color: rgba(255, 255, 255, 0.075);
    --placeholder-color: #b5b5b5;
    --mat-dialog-background-color: #1e1e1e;
    --mat-dialog-text-color: #fff;
    --disabled-input-background-color: #333;
    --disabled-input-text-color: #b5b5b5;
    --disabled-input-border-color: #444;
}
