/* #navbar-home {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  } */

  #navbar-home {
    /* background: transparent; */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
} 


.nav-item .active {
    border-radius: 15px;
    background: #1e1e1d;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.nav-item:hover {
    border-radius: 15px;
    background: #23232382 !important;
}


#navbar-home .dropdown-menu a:hover {
    color: #454545
}

#navbar-home .nav-item {
    margin: auto 9px;
}

#navbar-home a {
    font-style: bold !important;
    padding-left: 12px;
    padding-right: 12px;
}

#navbar-home .dropdown-menu {
    background: #545454
}

a.navbar-brand {
    color: #454545
}

a {
    font-style: bold !important;
    color: white !important;
}

#navbar-home.scrolled {
    backdrop-filter: blur(10px); /* Desenfoque gaussiano */
}