<p>To calculate the Compound Annual Growth Rate (CAGR) of a stock share price, you can use the following formula:</p>
<div class="katex-container" [appKatex]="cagrFormula"></div>
<p>where:</p>
<ul>
    <li><strong>V<sub>f</sub></strong> is the final value (ending share price after the period of interest).</li>
    <li><strong>V<sub>i</sub></strong> is the initial value (starting share price).</li>
    <li><strong>n</strong> is the number of years.</li>
</ul>
<p>Divide the final value by the initial value. Take the result and raise it to the power of one divided by the number
    of years. Substract one from this result to get the CAGR.</p>
<h5>Example Calculation</h5>
<p>Suppose you want to calculate the CAGR of a stock share price that was $100 five years ago and is $180 today.</p>
<ul>
    <li>Initial share price (V<sub>i</sub>): $100</li>
    <li>Final share price (V<sub>f</sub>): $180</li>
    <li>Number of years (n): 5</li>
</ul>
<p>Using the formula:</p>
<div class="katex-container" [appKatex]="exampleCalculation1"></div>
<div class="katex-container" [appKatex]="exampleCalculation2"></div>
<div class="katex-container" [appKatex]="exampleCalculation3"></div>
<p>So, the stock's share price grew at a compound annual growth rate of approximately 12.57% over the five-year
    period.</p>