.conta-hero{
    height: 55vh !important;
}

.image-container{
    max-height: 500px;
    width: 40%;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1, h2, h5, p{
    text-shadow: var(--background-color) 1px 0 6px;
}

@media screen and (max-width: 600px){
    .conta-hero{
        height: 70vh !important;
        
    }

    .container-text{
        padding-left: 20px !important;
        padding-right: 10px !important;
        position: absolute;
        top: 20vh;
    }

    .image-container{
        padding-top: 140px;
        max-height: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .container-text{
        position: absolute;
    }

    .image-container{
        width: 70%;
    }
}