<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <form class="d-flex flex-wrap align-items-center">
            <div class="mb-3 me-4">
              <label for="exampleFormControlInput1" class="form-label">Average Share Price</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3 me-4">
              <label for="exampleFormControlInput1" class="form-label">Inital Invest Amount</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3 me-4">
              <label for="exampleFormControlInput1" class="form-label">Expected Dividend Yield (%)</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3 me-4">
              <label for="exampleFormControlInput1" class="form-label">Tax Rate (%)</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3 me-4">
              <label for="exampleFormControlInput1" class="form-label">Dividend CAGR (%)</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3 me-4">
              <label for="exampleFormControlInput1" class="form-label">Share Price CAGR (%)</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="mb-3 me-4 form-check">
              
              <input class="form-check-input" type="checkbox" value="">
              <label class="form-check-label">Dividend Reinvestment (DRIP)</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-table-calculations></app-table-calculations>