.card-body, .card, .card-footer{
    background-color: #157347 !important;
}

.card-body h5, .card-body h6{
    color: white  !important;
}

.card-body h5{
    font-weight: bold !important;
}

.card-body:hover{
    background-color: #0b9555 !important;
}

