<div class="container mb-5">
    <div class="row m-0 justify-content-center">
        <div class="col-12 mb-4 ps-4">
            <h2 i18n>Explanations and formulas</h2>
            <h6 i18n>To determine the growth of your investments, we use multiple formulas and algorithms. Each one of them is detailed below.</h6>
            <h6 i18n>Click on the option that interests you the most, to learn more.</h6>
        </div>
        <div class="col-12 mb-5">
            <div class="row">
                <div class="col-md-3 mb-3" *ngFor="let item of routes">
                    <div class="card light-border me-3" style="height: 280px;">
                        <div class="card-body">
                            <div class="mb-2 mt-4">
                                <h5 i18n>{{item.title}}</h5>
                            </div>
                            <div class="mb-4">
                                <h6 i18n>{{item.description}}</h6>
                            </div>
                        </div>
                        <div class="card-footer pb-3">
                            <div class="text-end">
                                <a class="btn btn-light" [routerLink]="item.route">
                                    <i class="fa-solid fa-hand-pointer me-2"></i>
                                    <span i18n>See how</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
