
html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

* {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

p, span, li, dt, dd {
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: inherit;
    cursor: pointer;
}

a:hover {
    color: var(--link-hover-color);
}

.btn,
a {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
}

.btn-success span{
    color: white !important;
}

.btn-light span{
    color: black !important;
}

.card,
.card-header,
.card-body,
.card-footer {
    border-color: var(--card-border-color) !important;
    background-color: var(--card-background-color) !important;
    border-radius: 20px !important;
}

.table > :not(caption) > * > * {
    background-color: var(--table-background-color) !important;
    border-color: var(--table-border-color) !important;
    color: var(--text-color) !important;
}

.table-borderless td, .table-borderless th {
    border: 0;
}

.table-hover tbody tr:hover {
    background-color: var(--table-hover-background-color);
}

.card {
    position: relative;
    width: 100%;
    opacity: 1;
}

.light-border {
    border: 2px solid var(--light-border-color) !important;
}

.custom-shadow {
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
}

.card-header {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-color: var(--header-background-color);
    opacity: 1;
}

.card-footer {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-color: var(--footer-background-color);
    opacity: 1;
}

label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color);
}

input, select, textarea,
.form-control,
.form-select {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 18px !important;
}

option{
    background-color: var(--card-background-color) !important;
    color: var(--text-color) !important;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder-color) !important;
}

input[disabled], textarea[disabled], select[disabled], .form-control[disabled], .form-select[disabled] {
    background-color: var(--disabled-input-background-color);
    color: var(--disabled-input-text-color);
    border-color: var(--disabled-input-border-color);
}

.tooltip .tooltip-inner {
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-text-color);
    text-transform: uppercase !important;
    font-size: bold !important;
    border-radius: 18px !important;
}

.tooltip {
    background-color: var(--tooltip-background-color) !important;
    border-radius: 18px !important;
    box-shadow: 0px 0px 10px 0px var(--tooltip-shadow-color);
}

.tooltip::after {
    color: white !important;
    border: var(--tooltip-background-color) transparent transparent !important;
}

.katex {
    font-weight: bold;
}

.katex-container {
    margin-bottom: 10px;
}

.mat-mdc-dialog-surface,
.mdc-dialog__surface {
    overflow: hidden !important;
}

/* Specific styles for mat-dialog */
.mdc-dialog__surface {
    background-color: var(--card-background-color) !important;
}

.mat-mdc-dialog-title {
    color: var(--text-color) !important;
}

mat-dialog-content {
    color: var(--text-color) !important;
}

mat-dialog-actions {
    color: var(--text-color) !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--card-background-color);
    color: var(--text-color) !important;
}

.accordion-button {
    background-color: var(--card-background-color);
    color: var(--text-color) !important;
}

.accordion-collapse{
    background-color: var(--card-background-color);
    color: var(--text-color) !important;
}

.mat-horizontal-stepper-wrapper,
.mat-vertical-stepper-wrapper {
    background-color: var(--card-background-color);
}

.mat-step-icon-selected {
    background-color: var(--primary-color) !important;
}

.print-header {
    color: var(--primary-color);
    font-weight: 800;
    display: none;
}

.print-header span {
    color: black;
}

.invalid-input {
    border: 2px solid var(--invalid-input-border-color);
    background-color: var(--invalid-input-background-color);
}

footer{
    background-color: var(--footer-background-color) !important;
}



@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s;
}

@media screen and (max-width: 1100px) {
    .tooltip {
        display: none !important;
    }
}

@media print {
    * {
        font-size: 8px;
    }
    .print-header {
        display: block;
        top: 0;
        z-index: 99999;
        font-size: 20px;
    }
    .print-header span {
        font-size: 20px;
    }
    nav {
        display: none !important;
    }
    footer {
        display: none !important;
    }
    .container {
        min-width: 100% !important;
    }
    table {
        font-size: 8px !important;
    }
}
