@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;1,600&display=swap');



body {
    /* background-color: rgb(249, 250, 254); */
    background-color: white;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    border-color: transparent !important;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
}

.card-header {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(248, 248, 248);

    opacity: 1;
}

.card-footer {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-color: white;

    opacity: 1;
}


label {
    font-size: 12px;
    text-transform: uppercase;
}

.form-control,
.form-select {
    border-radius: 18px;
}

.card-header,
.card-footer {
    border-radius: 20px;
}

a {
    color: #0DCBF0;
    text-decoration: inherit;
    cursor: pointer;
}

a:hover {
    color: #0591B6;
}

.btn {
    border-radius: 20px;
}

.tooltip .tooltip-inner {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase !important;
    font-size: bold !important;
}

.tooltip {
    background-color: #ffffff !important;
    border-radius: 5px !important;    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
}

.tooltip::after {
    color: white !important;
    border:  #000000 transparent transparent !important;
}
