<footer  style="background-color: rgb(251, 251, 251); padding: 12px; ">
    <div class="row m-0 justify-content-center align-items-center text-center">
        <div class="col-4 disclaimer-section">
            <a (click)="navigateUrl('/disclaimer')"><i class="fa-solid fa-circle-exclamation me-1"></i> Disclaimer</a>
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
            <a href="https://byjofrey.com" target="_blank"><i class="fa-solid fa-globe me-3 fa-lg"></i></a>
            <a href="https://github.com/jofreylin" target="_blank"><i class="fa-brands fa-github me-3 fa-lg"></i></a>
            <a href="https://www.linkedin.com/in/jofreylinpv" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
    </div>
</footer>